################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/po2tab_converter_source/.vs
/po2tab_converter_source/.vs/po2tab_converter/v17/.suo
/omega_t/team project/omegat/project_stats.txt
/omega_t/team project/omegat/project_save.tmx.*.bak
/omega_t/team project/omegat/last_entry.properties
/po2tab_converter_source/bin
/po2tab_converter_source/obj
